
/**
 * Comment.
 */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  font-weight: bold;
}

a:hover,
a:focus {
  font-weight: bold;
}

a.lol:active {
  font-weight: normal;
}

a:nth-child(5) {
  border: 1px solid papayawhip;
}

a:hover:focus {
  font-weight: bold;
}

a:before {
  color: white;
}

a::before {
  color: white;
}

a:before,
a::before {
  color: white;
}

a:hover::before {
  border-top-color: blue;
}

a:active:focus:hover::before {
  border-bottom-color: blue;
}

a:active:focus + div:hover {
  color: magenta;
}
